body {
    background-color: #E0E8FF;
    font-family: "Red Hat Display";
    background-image: url("./assets/back-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100% 40%;
    display: flex;
    justify-content: center;
    align-items: center;     
    text-align: center;  
}

.main-div {
    width: 327px;
    height: 567px;    
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
}

.img-hero {
    max-width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.summary {
    display: flex;
    justify-content: center;
    height: 29px;
    font-weight: 900;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
    color: #1F2E55;
    margin: 32px 32px 16px 32px;
}

.text {
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #717FA6;
    margin-left: 32px;
    margin-right: 32px;
    margin: 0px 32px 24px 32px;
}

.div-child{
    width: 279px;
    height: 81px;
    background-color: #F7F9FF;
    border-radius: 11px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.img-music {
    margin-left: 16px;
    margin-top: 17px;
    width: 48px;
    height: 48px;
}

.div-annual {
    display: flex;
    flex-direction: column;
    margin-right: 26.34px;
}

.annual {
    font-weight: 900;
    font-size: 14px;
    line-height: 19px;
    color: #1F2E55;
    margin-bottom: 3px;
    margin-top: 21px;
}

.money {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;  
    color: #717FA6;
    margin-bottom: 19px;
    margin-top: 0px;
}

.change {
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #382AE1;
    margin-top: 33px;
    margin-right: 16px;
}

.div-pay {
    width: 279px;
    height: 50px;
    background-color: #382AE1;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 24px;
    box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
}

.pay {
    font-weight: 900;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 15px;
}

.cancel {
    font-weight: 900;
    font-size: 15px;
    line-height: 20px;
    color: #717FA6;
}


@media (min-width: 375px) {
    body {
        background-image: url("./assets/back-desktop.svg");
    }

    .main-div {
        width: 450px;
        height: 697px;
    }

    .summary {
        font-size: 28px;
        line-height: 37px;
        margin: 45px 48px 17px 48px;
    }

    .text {
        font-size: 16px;
        line-height: 26px;
        margin: 0px 48px 20px 48px;
    }

    .div-child {
        width: 354px;
        height: 98px;
        justify-content: flex-start;
    }

    .img-music {
        margin-top: 25px;
        margin-left: 24px;
    }

    .div-annual {
        margin-top: 5px;
        margin-left: 20px;        
    }

     .annual {
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 6px;
     }

     .money {
        font-size: 16px;
        line-height: 21px;
     }

     .change {
        font-size: 14px;
        line-height: 19px;
        margin-top: 40px;
        margin-left: 68px;
        margin-right: 0px;
     }

     .div-pay {
        width: 354px;
        height: 50px;
        margin-top: 32px;
        margin-bottom: 32px;
     }
     
}


